.formShipping {
  margin-top: 24px;
  width: 100%;
}

.formTitle {
  margin: 24px 0;
  font-size: 24px;
}
.formBody {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  width: 100%;
}

.radioGroup {
  display: flex;
  grid-gap: 20px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 11px 20px;
}

.radioGroup input {
  width: 20px;
}

.text {
  font-size: 14px;
}

.period {
  margin-top: 2px;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .formShipping {
    margin-top: 64px;
  }
}
